/* 
		NOTE:
		All css settings for the map, 
		testimonial box and circle slider 
		are in the /map-slider/main.css file. 
*/

	.renewal-testimonial-map {
		background-image: url(//assets.cdn.aws.vivint.com/global/vivint.com/sections/renewal/blur-1.png);
		min-height: 606px;
		background-position: top center;
		background-repeat: no-repeat;
	}

	.renewal-testimonial-map {
		padding: 75px 0 0 0;
	}

	.renewal-testimonial-map h2 {
		text-align: center;
	}
	.renewal-testimonial-map a {
		width: 300px;
		text-align: center;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}

@media (max-width: 320px) {
  .renewal-testimonial-map h2 {
		font-size: 2.1em;
		margin: auto 12%;
  }
  .renewal-testimonial-map a {
	  max-width: 80%;
	  margin: auto;
	}
}
